chowpati-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chowpati-links a {
  color: white;
  background: #333;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #666;
  transition: background 0.3s;
  text-align: center;
}

.chowpati-links a:hover {
  background: white;
  color: black;
}
